{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "browser": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all"
      }
    ]
  }
}